/****************************************
*   @author: Ander Uraga Real  
*   @version: 1.0
***********************************/

h1, h2{
	/* color:teal; */
}

.container{
	margin-top: 3.8em;
	min-height: 80vh;
}

.logo{
	width: 45px;
	height: 45px;
}

img.home-logo{
	float: left;
	margin-right: 30px;
    margin-top: 10px;
}